/* ////////////////
       Home
//////////////// */
.home-background{
    position: absolute;
    z-index: -999;
    background-image: url('../img/backgrounds/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
@media(max-width: 768px){
.home-background{
    background-image: url('../img/backgrounds/home/background-home-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
}
@media(max-width: 375px){
.home-background{
    background-image: url('../img/backgrounds/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
}